@model BES.Models.Data.Tool5Detail

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Tool5Detail</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SchoolID" />
            <input type="hidden" asp-for="Quarter" />
            <input type="hidden" asp-for="CreatedBy" />
            <input type="hidden" asp-for="CreatedDate" />


            <div class="form-group">
                <label asp-for="SchoolID" class="control-label"></label>
                <input asp-for="SchoolID" class="form-control"  disabled="disabled"/>
                <span asp-validation-for="SchoolID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Quarter" class="control-label"></label>
                <input asp-for="Quarter" class="form-control"disabled="disabled" />
                <span asp-validation-for="Quarter" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewEnrolltGirls" class="control-label"></label>
                <input asp-for="NewEnrolltGirls" class="form-control" />
                <span asp-validation-for="NewEnrolltGirls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NewEnrollBoys" class="control-label"></label>
                <input asp-for="NewEnrollBoys" class="form-control" />
                <span asp-validation-for="NewEnrollBoys" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendRegGirls" class="control-label"></label>
                <input asp-for="AttendRegGirls" class="form-control" />
                <span asp-validation-for="AttendRegGirls" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AttendRegBoys" class="control-label"></label>
                <input asp-for="AttendRegBoys" class="form-control" />
                <span asp-validation-for="AttendRegBoys" class="text-danger"></span>
            </div>


            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>


