@model BES.Models.Data.ScoreCardMeetingSchedule

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>ScoreCardMeetingSchedule</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ScoreCardMeetingScheduleID" />
            <div class="form-group">
                <label asp-for="LastMeetingDate" class="control-label"></label>
                <input asp-for="LastMeetingDate" class="form-control" />
                <span asp-validation-for="LastMeetingDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfReminderStart" class="control-label"></label>
                <input asp-for="DateOfReminderStart" class="form-control" />
                <span asp-validation-for="DateOfReminderStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Frequency" class="control-label"></label>
                <input asp-for="Frequency" class="form-control" />
                <span asp-validation-for="Frequency" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ReminderSofar" class="control-label"></label>
                <input asp-for="ReminderSofar" class="form-control" />
                <span asp-validation-for="ReminderSofar" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentDate" class="control-label"></label>
                <input asp-for="CurrentDate" class="form-control" />
                <span asp-validation-for="CurrentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

